<tr id="customer_<%= customer.id %>">
  <td><%= customer.first_name %></td>
  <td><%= customer.last_name %></td>
  <td><%= customer.email %></td>
  <td><%= customer.address %></td>
  <td>
    <%= link_to 'Edit', edit_customer_path(customer), remote: true, :class => 'btn btn-sm btn-info' %>
    <%= link_to 'Delete', customer, remote: true, :method => :delete, data: {confirm: "Delete Customer: #{customer.first_name} #{customer.last_name}"}, :class => 'btn btn-sm btn-danger' %>
  </td>
</tr>