<p id="notice"><%= notice %></p>
<p>
  <strong>First Name :</strong>
  <%= @customer.first_name%>
</p>
<p>

  <strong>Last Name :</strong>
  <%= @customer.last_name%>
</p>
<p>
  <strong>Email:</strong>
  <%= @customer.email%>
</p>

<p>
  <strong>Address :</strong>
  <%= @customer.address%>
</p>
